*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient( rgb(44, 1, 25),rgb(21, 0, 32));
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    columns: 2;
}
.main::after{
    content:'' ;
    position: absolute;
    bottom: 0;
    background: linear-gradient( to top, rgb(44, 1, 25),rgb(21, 0, 32));
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}
#moon{
    mix-blend-mode: screen;
    transform: translateY(80PX);
}
.BDWS{
    color: wheat;
    font-size: 30PX;
    text-transform: uppercase;
    transform: translateY(-160PX);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img{
    width: 70%;
    margin: 15%;
}
.img img{
    width: 300px;
    border: solid wheat 3px;
    border-radius: 50px;
    margin: 2px;
}
 .sentens{
    margin-top: 5px;
    color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small; 
    margin: 10px;
    margin-bottom: 50px;
 }
 .items{
    margin: 60px;
    background: rgba(0, 0, 0, 0.116);
    border: solid wheat 2px;
    border-radius: 40px;
    padding: 30px;
 }
 .items a{
    color: wheat;
    margin-left:20px ;
    margin-right: 50px;
    font-size: larger;
    transition: 1s ease;
 }
 .items a:hover{
    color: gold;
 }
 @media screen and (min-width: 768) and (max-width: 1150){
    #moon{
    mix-blend-mode: screen;
    transform: translateY(100PX);
}
.BDWS{
    color: rgb(226, 153, 16);
    font-size: 30PX;
    text-transform: uppercase;
    transform: translateY(-100PX);
}
 }
@media screen and (max-width:768) {
    #moon{
    mix-blend-mode: screen;
    transform: translateY(100PX);
}
.BDWS{
    color: wheat;
    font-size: 30PX;
    text-transform: uppercase;
    transform: translateY(-100PX);
}
}